2019-05-15_split-lfc-p-values-strains-A-M.csv
2019-05-15_split-lfc-p-values-strains-N-Z.csv
CGM-strains-A-M.csv
CGM-strains-N-Z.csv
Full_CGM.csv
Mycobacterium_Compounds.pdb
Mycobacterium_Compounds_NAN_SMILES.pdb